<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Really Insecure Website</title>
    <link rel="stylesheet" href="static/css/bootstrap.css"/>
</head>
<body>
    <!-- Hero -->
  <div class="p-5 text-center bg-light">
    <h1 class="mb-3">REALLY INSECURE WEBSITE</h1>
    <h4 class="mb-3">Welcome to really insecure website! Each level consists of a "challenge" where you have to hack the website to get to the next level!</h4>
    <img src="/static/img/pc.jpeg" class = "rounded mx-auto d-block" alt="">
  </div>
  <div class="container text-center">
    <a class="btn btn-primary" href="/level1" role="button" class="btn btn-lg">Start</a>
  </div>
</body>
</html>